<div id="<%= dom_id character %>">
  <p>
    <strong>First name:</strong>
    <%= character.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= character.last_name %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= character.origin %>
  </p>

</div>
