  <% if user_signed_in? %>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Origin</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @characters.each do |character| %>
      <% if character.user == current_user %>
      <tr>
        <td>
          <%= link_to character.first_name + ' ' + character.last_name, character %>
        </td>
        <td><%= character.origin %></td>
        <td><%= link_to "Edit", edit_character_path(character) %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New character", new_character_path, class: "btn btn-secondary" %>
  <% else %>
  <h1>Hello world!</h1>

  <% end %>
